body {
  font-family: Helvetica;
  background-color: grey
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-thumbnail {
  border: 2px solid salmon;
  margin: 1em;
  padding: 1em

}
.product-img {
  height: 20vh;
  width: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
